body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    background-color: #FFFAF0;
}
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.skill-tile{
    background-color: #FAFAD2;
    border: solid black;
    border-radius: 2rem;
    gap: 10px;
    margin-bottom: 10px;
}
li {
    list-style: none;
}
h4 > .list-hard-skills{
    text-align: center;
    
}
h4 > .list-soft-skills{
    text-align: center;
}


.intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


img {
    grid-column: 1fr;
    border: 10px solid black;
    border-radius: 1rem;
    grid-column: minmax(400px 1340px);
}


.intro-text{
    grid-column: 1fr;
    display: flex;
    text-align: center;
    align-items: center;
}



/* contact site */

.contact-information li {
list-style: none;
}
.contact-item{
    margin-bottom: 5px;
}